= render partial: 'search_form'
  
= react_component('NoteResult')                                                                    
-# = link_to t('.new', :default => t("helpers.links.new")), 
-#   new_note_path,                                         
-#   :class => 'btn btn-primary'                            
