= render partial: 'search_form'

= react_component('NoteResult', notes: @notes.as_json)
                                                                         
-# = link_to t('.new', :default => t("helpers.links.new")), 
-#   new_note_path,                                         
-#   :class => 'btn btn-primary'                            
