"hello world"
= react_component('NoteResult', {notes: convert_notes_to_json(@notes), categories: convert_categories_to_json(Category.all)}.as_json)                                                                    
