.note
  #note_title
    width: 40%
  #note_category
    width: 40%
    
  .create-note-buttons
    text-align: center
    margin-top: 50px
    input, a
      display: inline-block

  #note_query_string
    width: 40%
