.search-form-wrapper
  .note-search-form
    .form-group
      div
        overflow: auto
        margin: 30px
      .category
        width: 40%
      .note-date
        div
          margin: 0

.listing
  text-align: center
  margin: 10px
  .date
    text-align: right
